ion-list{
  ion-list-header{
    ion-label{
      font-size: 2rem;
    }

  }
  ion-item{
    ion-label{
      font-size: 1.2rem;
      font-weight: bold;
      p{
        margin-top: 5px;
        font-size: 0.8rem;
        font-weight: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow:  ellipsis;
      }
    }


  }
}

